body {
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
}
/* Container */
.container {
    width: 100%;
}

/* header */
header {
    height: 15vh;
    background-color: bisque;
}

/* main */
main {
    height: 85vh;
}
.sidebar-main {
    height: 85vh;
    width: 20vw;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav {
    display: flex;
    flex-direction: column;
}
.nav li {
    margin-bottom: 5px;
    padding: 20px 80px;
    background-color: chartreuse;
}
.nav li:last-child {
    position: absolute;
    bottom: 0;
}

.content-main {
    height: 85vh;
    width: 80vw;
    background-color: brown;
}

